.wrapper {
    padding: 10px 15px;
    position: sticky;
    top: 96px;
}

.container {
    box-shadow: 0 8px 30px rgba(0, 0, 0, .05);
    border-radius: 15px;
    background-color: var(--white);
    padding: 16px 0 4px;
    min-width: 260px;
    margin-bottom: 10px;
}

.title {
    color: var(--text-gray);
    font-size: 10px;
    padding: 8px 0 8px 10px
}