.wrapper {
    padding: 30px 190px 0 190px;
}


.container {
    display: flex;

}

// Main
.content {
    flex: 2;
}

.createPost {
    margin-top: 16px;
    background-color: var(--white);
    padding: 24px 24px 16px;
    border-radius: 15px;
}

.title {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 1rem;
    cursor: pointer;
}

.icon-wrapper {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    font-size: 12px;
    color: #adb5bd;
    font-weight: 600;
}

.textarea {
    width: 100%;
    height: 100px;
    border-radius: 15px;
    border: 2px #f1f1f1 solid;
    position: relative;
    z-index: 1;
    padding: 12px 8px 8px 48px;

    &:focus {
        outline: none;
    }

    &::placeholder {
        font-family: var(--font-family);
        font-size: 12px;
    }
}

.avt {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    margin: 8px;
    z-index: 2;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #495057;
    cursor: pointer;

    span {
        font-size: 12px;
        font-weight: bold;
    }
}

.more-wrapper {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray);

}

// Sidebar
.sidebar {
    flex: 1;
}